
/*****  This customization used in Experience.cshtml  *****/

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}

/**********************************************************/


/*****  This customization used in Contact.cshtml  ********/

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*   background-color: #000000;*/
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********************************************************/


/*****  This customization used in _Layout.cshtml  ********/
/*****  for color change on hover in Navmenu.      ********/

.nav a {
    color: #f8f9fa; /* $gray-100 of bootstrap */
}

.nav a:hover {
    color: #0dcaf0; /* $cyan of bootstrap */
}
/**********************************************************/
