@page
@model CertificationsModel
@{
    ViewData["Title"] = "Certifications";
}


<h1 class="display-4 text-center pb-2">Certifications</h1>
<div class="col-12 
            col-lg-10
            col-xl-8
            col-xxl-7
            row mx-auto">
    <table class="table table-bordered table-light align-middle">
        <tbody>
            <tr>
                <th class="col-1 text-center">1.</th>
                <td class="col-auto text-start text-md-center">
                    <a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-204" target="_blank">
                        Microsoft Certified: Azure Developer Associate (AZ-204)
                    </a>

                </td>
                <td class="col-3 col-sm-2 col-xl-3">
                    <a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-204" target="_blank">
                        <img src="~/img/az204_tag.jpg" class="img-fluid" alt="az204 certification badge" />
                    </a>
                </td>
            </tr>
            <tr>
                <th class="col-1 text-center">2.</th>
                <td class="col-auto text-start text-md-center">
                    <a href="https://aws.amazon.com/certification/certified-cloud-practitioner/" target="_blank">
                        AWS Certified Cloud Practitioner
                    </a>
                </td>
                <td class="col-3 col-sm-2 col-xl-3">
                    <a href="https://aws.amazon.com/certification/certified-cloud-practitioner/" target="_blank">
                        <img src="~/img/aws-cp-tag.png" class="img-fluid" alt="aws cp certification badge" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

