@page
@model ExperienceModel
@{
    ViewData["Title"] = "Experience";
}

<div class="container-fluid">
    <h1 class="display-4 text-center pb-2">Experience</h1>
    <hr />
    <dl class="row">
        <dt class="col-3 col-sm-2 col-lg-1">Role</dt>
        <dd class="col-9 col-sm-10 col-lg-11">Technical Lead</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Employer</dt>
        <dd class="col-9 col-sm-10 col-lg-11">ABC llc.</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Duration</dt>
        <dd class="col-9 col-sm-10 col-lg-11">2017 - Current</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Location</dt>
        <dd class="col-9 col-sm-10 col-lg-11">New York, NY</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Client</dt>
        <dd class="col-9 col-sm-10 col-lg-11">XYZ Corp.</dd>

        <dt class="col-12">Resonsibilities & Accomplishments</dt>
        <dd class="col-12">
            <ul class="styled mb-0">
                <li>Involved in all phases of agile including the requirements analysis, architecture design, development, testing, deployment and ongoing support for web-based applications and services.</li>
                <li>Implemented data access using entity framework 5. 0 code first approach with LINQ queries.</li>
            </ul>
            <ul id="exp1" class="collapse styled mb-0">
                <li>Handled MVC 4.0 features such as global error handling and custom error messages.</li>
                <li>Implemented garbage collection object effective and measured GC functionality through memory profiler tool.</li>
                <li>Creating loosely coupled layers to avoid dependency and ensure reusability by implementing appropriate design patterns.</li>
                <li>Updated the classes and methods in the business layer to access the data access layer using object-oriented programming in C, Visual Studio 2017 and .Net framework 4.5.</li>
                <li>Implemented data access using entity framework 5. 0 code first approach with LINQ queries.</li>
                <li>Implemented bundling and minification to improve look and feel across the applications.</li>
                <li>Handled run time errors & design-time errors by implementing appropriate error handlers in C#, .Net.</li>
            </ul>
            <a data-bs-toggle="collapse" href="#exp1" role="button" aria-expanded="false" aria-controls="exp1">
                <span class="collapsed">More... &raquo;</span>
                <span class="expanded">Less... &laquo;</span>
            </a>
        </dd>

    </dl>
    <hr />

    <dl class="row">
        <dt class="col-3 col-sm-2 col-lg-1">Role</dt>
        <dd class="col-9 col-sm-10 col-lg-11">Technical Lead</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Employer</dt>
        <dd class="col-9 col-sm-10 col-lg-11">ABC llc.</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Duration</dt>
        <dd class="col-9 col-sm-10 col-lg-11">2014 - 2017</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Location</dt>
        <dd class="col-9 col-sm-10 col-lg-11">Chicago, IL</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Client</dt>
        <dd class="col-9 col-sm-10 col-lg-11">PQR Bank</dd>

        <dt class="col-12">Resonsibilities & Accomplishments</dt>
        <dd class="col-12">
            <ul class="styled mb-0">
                <li>Designed and developed the portal with web technologies like C#, Asp.Net, javascript, XML, XSLT and HTML5 in designing and developing the web project.</li>
                <li>
                    Designed and developed WPF application feature to set and display holds on the test who enrolled as a non-regular member. Designed membership maintenance component using Model View Controller (MVC) 4.0, 5.0 and MVVM architectural design patterns for the development of the product.
                </li>
            </ul>
            <ul id="exp2" class="collapse styled mb-0">
                <li>
                    Designed and developed an application to extract data from another branch and built feature to perform "managememnt of multiple accounts" using entity framework for all business objects and retrieving data from the SQL server database. Wrote T-SQL statements, stored procedures, triggers, functions, and sequences to access data from database using entity framework 5. 0 classes and methods for team management.
                </li>
                <li>Implemented logic to perform impersonate user and perform specific transactions feature.</li>
                <li>Modified existing feature to allow accountant and chief accountant to view the list of enrolled members and give authority to remove holds on competition using Telerik controls to display data in tabular format.</li>
                <li>Supported and monitored project infrastructure by performing database administration tasks and server maintenance.</li>
            </ul>
            <a data-bs-toggle="collapse" href="#exp2" role="button" aria-expanded="false" aria-controls="exp2">
                <span class="collapsed">More... &raquo;</span>
                <span class="expanded">Less... &laquo;</span>
            </a>
        </dd>

    </dl>
    <hr />

    <dl class="row">
        <dt class="col-3 col-sm-2 col-lg-1">Role</dt>
        <dd class="col-9 col-sm-10 col-lg-11">Sr. System Developer</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Employer</dt>
        <dd class="col-9 col-sm-10 col-lg-11">MNO Digital Solutions Ltd.</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Duration</dt>
        <dd class="col-9 col-sm-10 col-lg-11">2012 - 2014</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Location</dt>
        <dd class="col-9 col-sm-10 col-lg-11">Atlanta, GA</dd>

        <dt class="col-3 col-sm-2 col-lg-1">Client</dt>
        <dd class="col-9 col-sm-10 col-lg-11">In-house projects</dd>

        <dt class="col-12">Resonsibilities & Accomplishments</dt>
        <dd class="col-12">
            <ul class="styled mb-0">
                <li>Interacted with stakeholders during different phases of project lifecycle like initiation, execution and project closure.</li>
                <li>Scheduled releases with the onsite team and pursued till production rollout.</li>
            </ul>
            <ul id="exp3" class="collapse styled mb-0">
                <li>Designed and developed web pages in various projects using many WCF and web methods across phases.</li>
                <li>Created database table's structure and stored procedures as and when required, developed compliance and OFAC rules for validating the business rules.</li>
                <li>Allocating tasks to team members and tracking the proceedings of the tasks.</li>
                <li>Implementing architecture changes for the project to support the latest technologies.</li>
                <li>Created the milestone and budget for the project and send information to open air.</li>
                <li>Analyzed and resolved critical functionality issues in data flow in various regions.</li>
                <li>Resolved data quality issues raised by end users in each of the applications.</li>
            </ul>
            <a data-bs-toggle="collapse" href="#exp3" role="button" aria-expanded="false" aria-controls="exp3">
                <span class="collapsed">More... &raquo;</span>
                <span class="expanded">Less... &laquo;</span>
            </a>
        </dd>

    </dl>
    <hr />

</div>