@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4 text-center mb-1">John Doe</h1>
<div class="d-flex flex-md-row flex-column align-items-center">
    <img src="~/img/profile_pic.png" class="img-responsive w-25" alt="Profile Pic" />
    <p class="p-2">
        <b>Technical Lead</b> with <b>10+ years</b> of experience in <b>Software Development</b>. <b>Microsoft Azure Certified</b>. Business knowledge in Healthcare, Finance domain and experience on working in government projects.<br />
        Over the course of 15 years, efficiently worked in all phases of software development life cycle; developed many webservices/APIs (on-premises, on cloud) and hundreds of application programs, scripts to set-up, optimize, automate, or enhance business processes. Expertise in converting business requirements into technical processes. Enthusiastic to learn & implement new technologies.
    </p>
</div>

