@page
@model SkillsModel
@{
    ViewData["Title"] = "Skills";
}


<h1 class="display-4 text-center pb-2">Skills</h1>
<table class="table table-bordered w-auto mx-auto">
    <thead>
        <tr class="table-primary">
            <th scope="col">Category</th>
            <th scope="col">Proficient</th>
            <th scope="col">Intermediate</th>
            <th scope="col">Familiar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Programming Languages</th>
            <td>.Net C#, Pro*C, C, C++, Unix Shell Script (Solaris, HP-UX)</td>
            <td>Javascript, jQuery, Python, HTML, CSS</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Frameworks</th>
            <td>.Net Framework (v 4.5 to 4.8), .Net Core (v 2.1 to 6)</td>
            <td>Bootstrap</td>
            <td>React JS</td>
        </tr>
        <tr>
            <th scope="row">Databases</th>
            <td>SQL, PL/SQL, Oracle, SQL Server</td>
            <td>MongoDB</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">IDEs and tools</th>
            <td>Visual Studio 2019, VS Code, Toad, SoapUI, Postman</td>
            <td>SQL Developer, Visio, UML, Autosys</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Technologies</th>
            <td>Webservices, Web API (REST-ful and SOAP using WCF), JSON, XML</td>
            <td>Agile and Waterfall methodologies, DevOps</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">OS</th>
            <td>Windows, Unix (Solaris and HP-UX</td>
            <td>Linux</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Cloud Technologies</th>
            <td>Azure (certified), AWS (certified)</td>
            <td>Google Cloud</td>
            <td></td>
        </tr>
    </tbody>
</table>
