<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <!-- link rel="stylesheet" href="~/MyPortfolioProject.styles.css" asp-append-version="true" / -->
</head>
<body>
    <!-- IMPORTANT tip_cc: Responsive convention followed throughout all pages -
        Line 1 - Mobile/default & up settings
        Line 2 - Tablet/Small screen & up settings
        Line 3 - Desktop/Large screen & up settings and so on...
        Last line - Other settings
    -->
    <div class="container-fluid overflow-hidden">
        <!-- tip_cc: vh-100 required to show sidebar on full vertical screen -->
        <!-- tip_cc: overflow-auto is required to enable horizontal & vertical scrolling when content does not fit in available window -->
        <div class="row vh-100 overflow-auto">
            <!-- Sidebar Blue Strip -->
            <div class="col-12 p-0
                        col-sm-3
                        col-xl-2
                        bg-primary d-flex sticky-top">
                <!-- tip_cc: sidebar items alignment -->
                <div class="flex-row       
                            flex-sm-column      
                            d-flex text-white align-items-center">

                    <!-- Logo Image container -->
                    <div class="col-1    ms-2 me-3
                                col-sm-8 m-sm-4    pt-sm-1
                                d-flex">
                        <a class="text-white text-decoration-none" asp-area="" asp-page="/Index">
                            <img src="~/img/logo_pic.png" class="img-fluid img-thumbnail rounded-circle d-block" alt="Logo Image">
                        </a>
                    </div>

                    <!-- Sidebar Navigation Links -->
                    <ul class="flex-row       flex-grow-1    justify-content-evenly
                               flex-sm-column flex-sm-grow-0 
                               flex-nowrap nav nav-pills" id="menu">

                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/Index">
                                <i class="fas fa-user-tie"></i>
                                <span class="ms-2 d-none d-sm-inline">About John</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/Skills">
                                <i class="fas fa-tools"></i>
                                <span class="ms-2 d-none d-sm-inline">Skills</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/Certifications">
                                <i class="fas fa-trophy"></i>
                                <span class="ms-2 d-none d-sm-inline">Certifications</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/PersonalProjects">
                                <i class="fas fa-laptop-code"></i>
                                <span class="ms-2 d-none d-sm-inline">Personal Projects</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/Experience">
                                <i class="fas fa-history"></i>
                                <span class="ms-2 d-none d-sm-inline">Experience</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/Education">
                                <i class="fas fa-graduation-cap"></i>
                                <span class="ms-2 d-none d-sm-inline">Education</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 px-sm-0" asp-area="" asp-page="/Contact">
                                <i class="fas fa-address-card"></i>
                                <span class="ms-2 d-none d-sm-inline">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Content Section -->
            <div class="col d-flex flex-column h-100">
                <main class="row">
                    <div class="col pt-2 pt-sm-4">
                        @RenderBody()
                    </div>
                </main>
                <br />
                <!-- Footer -->
                <footer class="row border-top text-muted py-1 mt-auto">
                    <div class="col text-center">
                        &copy; 2021 - MyPortfolio
                    </div>
                </footer>
            </div>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>